# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Environment
.env

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
